@import "/styles/main.scss";

.buttonWrapper {
  position: relative;
  transform: translate(0px, 0px);
  user-select: none;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--small);
  border: 2px solid color("black");

  &::after {
    content: " ";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
  }

  &.medium::after {
    border-radius: 12px;
  }

  &.small::after {
    border-radius: 8px;
  }

  &:not(:disabled):after {
    opacity: 0;
  }

  &:not(:disabled):not(.disabled):active {
    transform: translate(0px, 2px);
    box-shadow: 0px 2px 0px color("transparent");
  }

  &:not(:disabled):not(.disabled):active:after {
    background-color: color("black");
    opacity: 0.08;
  }

  &:disabled:after {
    background-color: color("white");
    opacity: 0.5;
  }

  &:disabled {
    overflow: initial;
  }
}

.medium {
  height: 56px;
  border-radius: 12px;
  padding: 0px 24px;
  width: 160px;

  @include text("Headline 4/Semibold");
}

.small {
  height: 36px;
  border-radius: 8px;
  padding: 0px 16px;
  width: 120px;

  @include text("Body 2/Semibold");
}

.fullWidth {
  width: 100%;
}

.white,
.lemon,
.salmon,
.mustard,
.moss,
.berrymilk,
.cloud {
  @include text-color("black");
}

.indigo,
.brick,
.forest,
.yam {
  @include text-color("white");
}

.white {
  background-color: color("white");
}

.lemon {
  background-color: color("lemon");
}

.salmon {
  background-color: color("salmon");
}

.mustard {
  background-color: color("mustard");
}

.moss {
  background-color: color("moss");
}

.berrymilk {
  background-color: color("berrymilk");
}

.cloud {
  background-color: color("cloud");
}

.indigo {
  background-color: color("indigo");
}

.brick {
  background-color: color("brick");
}

.forest {
  background-color: color("forest");
}

.yam {
  background-color: color("yam");
}
