@import "/styles/main.scss";

.progressWrapper {
  height: 12px;
  width: 100%;
  background: color("white");
  border: 2px solid color("black");
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;

  .step {
    width: 100%;

    &:not(:last-of-type) {
      border-right: 2px solid color("black");
    }
  }

  .doneStep {
    &.lemon {
      background-color: color("lemon");
    }

    &.salmon {
      background-color: color("salmon");
    }

    &.mustard {
      background-color: color("mustard");
    }

    &.moss {
      background-color: color("moss");
    }

    &.berrymilk {
      background-color: color("berrymilk");
    }

    &.cloud {
      background-color: color("cloud");
    }

    &.indigo {
      background-color: color("indigo");
    }

    &.brick {
      background-color: color("brick");
    }

    &.forest {
      background-color: color("forest");
    }

    &.yam {
      background-color: color("yam");
    }
  }
}
