@import "/styles/main.scss";

/* 슬라이더의 스타일을 수정 */
.progress {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 100%; /* 슬라이더의 너비 조정 */
  height: 12px; /* 슬라이더의 높이 조정 */
  border: 2px solid color("black");
  border-radius: 100px;
  background-color: color('white');
  margin: 0px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* 슬라이더 기본 스타일 제거 (웹킷 브라우저용) */
    width: 20px; /* 슬라이더 썸네일의 너비 조정 */
    height: 20px; /* 슬라이더 썸네일의 높이 조정 */
    background: color("lemon");
    border: 2px solid color("black");
    border-radius: 100px;
    cursor: pointer; /* 슬라이더 썸네일에 마우스 포인터를 올렸을 때 커서 모양 변경 */
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: color("lemon");
    border: 2px solid color("black");
    border-radius: 100px;
    cursor: pointer; /* 슬라이더 썸네일에 마우스 포인터를 올렸을 때 커서 모양 변경 */
  }

  &::-ms-thumb {
    width: 20px;
    height: 20px;
    background: color("lemon");
    border: 2px solid color("black");
    border-radius: 100px;
    cursor: pointer; /* 슬라이더 썸네일에 마우스 포인터를 올렸을 때 커서 모양 변경 */
  }
}

.markers {
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  margin-top: 16px;
}

.marker {
  color: black; /* 텍스트 색상 변경 */
  background-color: color("black"); /* 배경색 변경 */
  padding: 0px 1px 1px;
}

.rangeDivider {
  width: 1px;
  height: 10px;
  background-color: black;
  // position: relative;
  pointer-events: none; /* divider 클릭 방지 */
}

.progressWrapper {
  width: 100%;
  position: relative;
}
