@import "./functions.scss";

@mixin text($text, $color-code: "") {
  $list: str-split($text, "/");
  $weight: "";
  $font: "";

  @if length($list) == 2 {
    $font: nth($list, 1);
    $weight: nth($list, 2);
  }

  @if $font == "Display" {
    font-size: var(--display-font-size);
    line-height: var(--display-line-height);
    font-weight: var(--font-weight-extra-bold);
  } @else if $font == "Headline 1" {
    font-size: var(--headline-1-font-size);
    line-height: var(--headline-1-line-height);
    font-weight: var(--font-weight-extra-bold);
  } @else if $font == "Headline 2" {
    font-size: var(--headline-2-font-size);
    line-height: var(--headline-2-line-height);
    font-weight: var(--font-weight-extra-bold);
  } @else if $font == "Headline 3" {
    font-size: var(--headline-3-font-size);
    line-height: var(--headline-3-line-height);
  } @else if $font == "Headline 4" {
    font-size: var(--headline-4-font-size);
    line-height: var(--headline-4-line-height);
  } @else if $font == "Body 1" {
    font-size: var(--body-1-font-size);
    line-height: var(--body-1-line-height);
    font-weight: var(--font-weight-bold);
  } @else if $font == "Body 2" {
    font-size: var(--body-2-font-size);
    line-height: var(--body-2-line-height);
  } @else if $font == "Caption 1" {
    font-size: var(--caption-1-font-size);
    line-height: var(--caption-1-line-height);
    font-weight: var(--font-weight-medium);
  } @else if $font == "Caption 2" {
    font-size: var(--caption-2-font-size);
    line-height: var(--caption-2-line-height);
    font-weight: var(--font-weight-regular);
  }

  @if $weight == "Regular" {
    font-weight: var(--font-weight-regular);
  } @else if $weight == "Medium" {
    font-weight: var(--font-weight-medium);
  } @else if $weight == "Semibold" {
    font-weight: var(--font-weight-semi-bold);
  } @else if $weight == "Bold" {
    font-weight: var(--font-weight-bold);
  } @else if $weight == "Extrabold" {
    font-weight: var(--font-weight-extra-bold);
  } @else if $weight == "Black" {
    font-weight: var(--font-weight-black);
  }

  @if $color-code {
    color: color($color-code);
  }
}

@mixin text-color($color-code) {
  color: color($color-code);
}
