@import "/styles/main.scss";

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;

  .selected {
    width: 40px;
    height: 40px;
  }

  .unselected {
    width: 24px;
    height: 24px;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &:active:after {
    background-color: color("black");
    opacity: 0.08;
  }
}
