.startAccountWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 430px;
  margin: -24px;

  & > div.startAccountBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.buttonWrapper {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 48px);
  display: flex;
  justify-content: center;
}
