@import "/styles/main.scss";

.subjectTitleWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 48px);
  white-space: pre-line;
  word-break: keep-all;
  user-select: none;

  .title {
    text-align: center;

    @include text("Display");

    &.lemon {
      @include text-color("lemon");
    }

    &.salmon {
      @include text-color("salmon");
    }

    &.mustard {
      @include text-color("mustard");
    }

    &.moss {
      @include text-color("moss");
    }

    &.berrymilk {
      @include text-color("berrymilk");
    }

    &.cloud {
      @include text-color("cloud");
    }

    &.indigo {
      @include text-color("indigo");
    }

    &.brick {
      @include text-color("brick");
    }

    &.forest {
      @include text-color("forest");
    }

    &.yam {
      @include text-color("yam");
    }
  }
}

.emoji {
  position: absolute;

  &.large {
    top: -60px;
  }

  &.medium {
    top: -20px;
  }

  &.small {
    top: -12px;
  }

  &.xSmall {
    top: -4px;
  }
}
